:root {
    --h3: 24px;
    --h4: 16px;
    --p: 16px;

    /* Select */
    --select-border: #777;
    --select-focus: blue;
    --select-arrow: var(--select-border);

    /* indifférent */
    --select-border: #777;
    --select-focus: blue;
    --select-arrow: var(--select-border);

    --button-bg: rgba(255, 255, 255);

    /* Light theme*/
    /*--light-main-bg-color: rgb(235, 235, 235); remplacée temporairement*/
    --light-main-bg-color: #ffffff;
    /*--light-secondary-bg-color: rgb(255, 255, 255); remplacée temporairement */
    --light-secondary-bg-color: #ffffff;
    --light-field-bg-color: rgba(255, 255, 255, 0.125);
    /*--light-field-hover-color: rgba(255, 255, 255, 0.331);*/
    --light-field-hover-color: rgba(0, 0, 0, 0.04);
    --light-field-focus-color: rgba(0, 0, 0, 0.05);
    --light-text-primary-color: rgb(27, 27, 27);
    --light-text-secondary-color: rgba(150, 150, 150, 0.9);
    --light-text-tertiary-color: rgba(188, 188, 188, 0.698);
    --light-border-primary-color: rgb(188, 188, 188);
    --light-border: hsl(220 13% 91%);

    /*--dark-main-bg-color: rgb(30, 30, 30); remplacée temporairement*/
    /*--dark-main-bg-color: #121629; remplacée temporairement 2 */
    --dark-main-bg-color: hsl(224, 71.4%, 4.1%);
    /*--dark-secondary-bg-color: rgba(11, 11, 11, 0.79); remplacée temporairement*/
    --dark-secondary-bg-color: #232946;
    --dark-field-bg-color: rgba(255, 255, 255, 0.125);
    /*--dark-field-hover-color: rgba(255, 255, 255, 0.331);*/
    --dark-field-hover-color: rgba(255, 255, 255, 0.15);
    --dark-field-focus-color: rgba(255, 255, 255, 0.331);
    --dark-text-primary-color: rgb(255, 255, 255);
    --dark-text-secondary-color-light: rgba(0, 0, 0, 0.5);
    --dark-text-primary-color-light: rgb(0, 0, 0);
    --dark-text-secondary-color: rgba(255, 255, 255, 0.70);
    --dark-border-primary-color: rgba(255, 255, 255, 0.25);
    --dark-border-primary-color-light: rgba(0, 0, 0, 0.25);
    --dark-button-overlay-color: rgba(0, 0, 0, 0.04);
    --dark-border: hsl(215 27.9% 16.9%);

    /* Knopf buttons */
    --knopf-hue: 255;
    --knopf-saturation: 83%;
    --knopf-luminosity: 65%;

}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/*Animations*/
@keyframes marquee {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-100%);
    }
}

body {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-color: var(--dark-main-bg-color);
    transition: background-color 0.4s ease-in;
    }
    & nav {
        display: none;
        width: 100%;
        height: 48px;
        background-color: var(--dark-main-bg-color);
    }
    & main {
        /* padding-top: 40px;
        padding-left: 96px;
        padding-right: 96px;
        padding-bottom: 40px; */
        padding: 16px;
        display: flex; 
        flex-direction: row; 
        align-items: flex-start; 
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 16px;
        & >div {
            transition: background-color 0.4s ease-in;
        }
    }
    & #banner-2 {
        display: none;
        height: calc(100vh - 40px);
        position: sticky;
        top: 10px;
        box-sizing: border-box;
        width: clamp(300px, auto, 350px);
        /*flex-grow: 1;*/
        border-radius: 2px;
        background-color: var(--dark-primary-bg-color);
        border: 1px solid var(--dark-border);
        color: var(--dark-text-secondary-color);
        overflow-y: scroll;
        overflow-y: hidden;
        & >div {
            padding: 24px 24px 16px 24px;
            width: 100%;
        }
        & h5 {
            margin: 0px;
        }
        & #banner-content{
            padding: 16px 16px 24px 16px;
            min-width: min-content;
            max-width: 100%;
            max-height: fit-content;
            animation: marquee;
            animation-duration: 25s;
            animation-timing-function:linear;
            animation-iteration-count: infinite;
            transform: translateY(100%);
            & .contribution {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 16px;
                & p {
                    font-size: 0.85rem;
                    opacity: 90%;
                    margin: unset;
                }
                & div {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    gap: 8px;
                    & p:nth-child(1) {
                        font-size: 0.8rem;
                        opacity: 80%;
                    }
                    & p:nth-child(2) {
                        font-size: 0.8rem;
                        opacity: 50%;
                    }
                }
            }
        }
        & #banner-content2{
            padding: 16px 16px 24px 16px;
            min-width: min-content;
            max-width: 100%;
            max-height: fit-content;
            animation: marquee;
            animation-duration: 25s;
            animation-timing-function:linear;
            animation-iteration-count: infinite;
            /*transform: translateY(100%);*/
            & .contribution {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 16px;
                & p {
                    font-size: 0.9rem;
                    opacity: 90%;
                    margin: unset;
                }
                & div {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    gap: 8px;
                    & p:nth-child(1) {
                        font-size: 0.8rem;
                        opacity: 80%;
                    }
                    & p:nth-child(2) {
                        font-size: 0.8rem;
                        opacity: 50%;
                    }
                }
            }
        }
        & #banner-content, #banner-content2:hover {
            animation-play-state: paused;
        }
    }
    & #side {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 4px;
        position: sticky;
        top: 10px;
        min-width: 265px;
        max-width: 100%;
        height: calc(100vh - 40px);
        padding: 24px 24px 24px 24px;
        border-radius: 2px;
        background-color: var(--dark-primary-bg-color);
        color: var(--dark-text-primary-color);
        fill: currentColor;
        box-sizing: border-box;
        border: 1px solid var(--dark-border);
        & button {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 8px;
            color: #fffffe;
            fill: currentColor;
            padding: 8px 12px 8px 12px;
            & >svg {
                aspect-ratio: 1;
                width: 18px;
                fill: currentColor;
            }
        }
        & .knopf:disabled {
            cursor: not-allowed;
            & >svg {
                filter: opacity(50);
            }
        }
        & >div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 4px;
            & >h3 {
                margin-top: 8px;
                margin-bottom: 0px;
            }
            & h5 {
                font-weight: 200;
                margin-bottom: 8px;
                color: var(--light-text-secondary-color);
            }
            & >div {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: flex-start;
                gap: 4px;
            }
        }
        & #action-container {
            /*display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;*/
            & >div {
                display: flex;
                flex-wrap: wrap;
                align-items: flex-start;
                justify-content: flex-start;
                row-gap: 8px;
                column-gap: 8px;
            }
        }
        & #banner {
            height: 92vh;
            width: 100%;
            background-color: grey;
        }
        & div:nth-child(1) {
            display: flex;
            /* flex-direction: column; */
            align-items: flex-start;
            justify-content: flex-start;
            /* gap: 16px; */
            & >h4 {
                margin: 0px;
            }
            & >p {
                margin: 0px;
                color: var(--dark-text-primary-color);
            }
        }
    }
    & #main {
        /*height: 92vh;*/
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 24px;
        padding: 24px 8px 24px 24px;
        border-radius: 2px;
        background-color: var(--dark-primary-bg-color);
        box-sizing: border-box;
        border: 1px solid var(--dark-border);
        & >div:nth-child(1) {
            width: 100%;
            height: 46px;
            position: relative;
            & #confirm-title-button {
                display: none;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                position: absolute;
                left: calc(100% - 40px);
                top: 4px;
                border-radius: 100px;
                padding-top: 4px;
                padding-right: 4px;
                padding-bottom: 4px;
                padding-left: 4px;
            }
        }
        & h4 {
            margin: 0px;
            font-size: var(--h3);
            color: var(--dark-text-primary-color);
            padding: 8px 12px;
            border-radius: 4px;
            transition: background-color 0.2s ease-in;
            border: 1px solid rgba(255, 255, 255, 0);
        }
        & h4:hover {
            background-color: var(--dark-field-hover-color);
        }
        & h4:focus {
            color: var(--dark-text-secondary-color);
            background-color: var(--dark-field-focus-color);
            outline: none;
            border: 1px solid var(--dark-text-primary-color);
        }
        & #titre-field::placeholder {
            color: var(--dark-text-primary-color);
        }
        & #titre-field {
            /*field-sizing: content; Activer à la sortie de la feature*/
            width: calc(100% - 48px);
            background-color: transparent;
            margin: 0px;
            font-size: var(--h3);
            color: var(--dark-text-primary-color);
            padding: 8px 12px;
            border-radius: 4px;
            transition: background-color 0.2s ease-in;
            border: 1px solid rgba(255, 255, 255, 0);
        }
        & #titre-field:hover {
            background-color: var(--dark-field-hover-color);
        }
        & #titre-field:focus {
            color: var(--dark-text-secondary-color);
            background-color: var(--dark-field-focus-color);
            outline: none;
            border: 1px solid var(--dark-text-primary-color);
        }
        & >div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 8px;
            & >div {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                gap: 8px;
            }
            & .text-field {
                all: unset;
                width: 450px;
                height: 32px;
                border-radius: 2px 2px 0px 0px;
                padding-left: 4px;
                transition: background-color 0.2s ease-in;
                color: var(--dark-text-primary-color);
                border-bottom: 1px solid var(--dark-border-primary-color);
            }
            & input:hover {
                background-color: var(--dark-field-hover-color);
            }
            & input:focus {
                background-color: var(--dark-field-hover-color);
            }
            & input:focus + span {
                opacity: 1;
            }
            & input:hover + span {
                opacity: 1;
            }
            & span {
                display: block;
                opacity: 0;
                width: 40px;
                color: var(--dark-text-primary-color);
                transition: 0.2s ease-in;
            }
        }
    }

select {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    z-index: 1;
    &::-ms-expand {
      display: none;
    }
    outline: none;
}
  
    .select {
    display: grid;
    grid-template-areas: "select";
    align-items: center;
    position: relative;
    min-width: 15ch;
    max-width: 30ch;

    border: 1px solid var(--select-border);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
  
    font-size: 1rem;
    cursor: pointer;
    line-height: 1.1;

    background-color: #ffffff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
  
    &:not(.select--multiple)::after {
      content: "";
      justify-self: end;
      width: 0.8em;
      height: 0.5em;
      background-color: var(--select-arrow);
      clip-path: polygon(100% 0%, 0 0%, 50% 100%);
      margin-top: 6px;
    }
    & select, ::after {
        grid-area: select;
      }
}
  
    /* select:focus + .focus {
        position: absolute;
        top: -1px;
        left: -1px;
        right: -1px;
        bottom: -1px;
        border: 2px solid var(--select-focus);
        border-radius: inherit;
    } */
  
  select[multiple] {
    padding-right: 0;
  
    /*
     * Safari will not reveal an option
     * unless the select height has room to 
     * show all of it
     * Firefox and Chrome allow showing 
     * a partial option
     */
    height: 6rem;
  
    option {
      white-space: normal;
      outline-color: var(--select-focus);
    }
}
  
  .select--disabled {
    cursor: not-allowed;
    background-color: #eee;
    background-image: linear-gradient(to top, #ddd, #eee 33%);
  }
  
label {
    font-size: 1.050rem;
    font-weight: 500;
  }

.light {
    /*
    --knopf-hue: 1;
    --knopf-saturation: 100%;
    --knopf-luminosity: 71%;*/
    --knopf-hue: 25;
    --knopf-saturation: 100%;
    --knopf-luminosity: 62%;
    color: red;
    background: var(--light-main-bg-color) !important;
    & #banner-2 {
        border: 1px solid var(--light-border);
        color: var(--light-text-primary-color);
    }
    & #side {
        background-color: var(--light-secondary-bg-color);
        box-sizing: border-box;
        border: 1px solid var(--light-border);
        color: var(--light-text-primary-color);
        color: #1f1235;
        fill: currentColor;
        & button {
            fill: currentColor;
            & >svg {
                fill: currentColor;
            }

        }
        & button:disabled {
            cursor: not-allowed;
            & >img {
                filter: opacity(30%);
            }
        }
        & div:nth-child(1) {
            & >h4 {
                color: var(--light-text-primary-color);
            }
            & >p {
                color: var(--light-text-primary-color);
            }
        }
        & div:nth-child(2) {
            & button {
                padding: 8px 12px 8px 12px;
            }
        }
    }
    & #main {
        background-color: var(--light-secondary-bg-color);
        box-sizing: border-box;
        border: 1px solid var(--light-border);
        & >div:nth-child(1) {
            width: 100%;
        }
        & h4 {
            color: var(--light-text-primary-color);
            border: 1px solid rgba(255, 255, 255, 0);
        }
        & h4:hover {
            background-color: var(--light-field-hover-color);
        }
        & h4:focus {
            color: var(--light-text-secondary-color);
            background-color: var(--light-field-focus-color);
            outline: none;
            border: 1px solid var(--light-text-primary-color);
        }
        & #titre-field::placeholder {
            color: var(--light-text-primary-color);
        }
        & #titre-field {
            color: var(--light-text-primary-color);
            padding: 8px 12px;
            border-radius: 4px;
            transition: 0.2s ease-in;
            border: 1px solid rgba(255, 255, 255, 0);
        }
        & #titre-field:hover {
            background-color: var(--light-field-hover-color);
        }
        & #titre-field:focus {
            color: var(--light-text-secondary-color);
            background-color: var(--light-field-focus-color);
            outline: none;
            border: 1px solid var(--light-text-primary-color);
        }
        & #titre-field:focus::placeholder {
            color: var(--light-text-tertiary-color);
        }
        & >div {
            & >div {
            & .text-field {
                all: unset;
                width: 450px;
                height: 32px;
                border-radius: 2px 2px 0px 0px;
                padding-left: 4px;
                transition: 0.2s ease-in;
                color: var(--light-text-primary-color);
                border-bottom: 1px solid var(--light-border-primary-color);
            } 
            & >input:hover {
                background-color: var(--light-field-hover-color);
            }
            & >input:focus {
                background-color: var(--light-field-hover-color);
            }
            & span {
                color: var(--light-text-primary-color);
            }
        }
    }
    & input:focus + span {
        opacity: 1;
    }
    & input:hover + span {
        opacity: 1;
    }
    & #action-container {
        & >button {
            border: 1px solid var(--dark-border-primary-color-light);
            color: var(--dark-text-primary-color-light);
            & >span {
                color: var(--dark-text-secondary-color-light);
            }
        }
    }
}
}

#toggle-serif {
    font-family: serif;
}

.normal-border {
    border-bottom: 1px solid var(--dark-border-primary-color);
}

.red-border {
    border-bottom: 1px solid red !important;
}

.no-border {
    border-bottom: 1px solid transparent;
}

.sans-serif {
    font-family: sans-serif;
    & #titre-field {
        font-family: sans-serif !important;
    }
    & #titre-field::placeholder{
        font-family: sans-serif !important;
    }
}

.serif {
    font-family: serif;
    & #titre-field {
        font-family: serif !important;
    }
    & #titre-field::placeholder{
        font-family: serif !important;
    }
}

/* Pour les petits écrans */
@media only screen and (max-device-width: 1366px) {
    #banner-2 {
        display: none;
        order: 3;
    }
}

/* Téléphones max width 375px */
@media only screen and (max-device-width: 375px) {
    body {
        padding: 0px;
        margin: 0px;
        font-family: Arial, Helvetica, sans-serif;
    }
    main {
        padding: 16px;
        width: auto;
        display: flex; 
        flex-direction: row; 
        align-items: flex-start; 
        justify-content: center;
        flex-wrap: wrap;
        gap: 24px;
    }
    #main {
        width: 100%;
        height: fit-content;
        padding-bottom: 24px;
        order: 1;
        box-sizing: border-box;
        & #titre-field {
            width: 90%;
            box-sizing: border-box;
        }
        & >div {
            width: 100%;
            & >div {
                width: 100%;
            }
        }
    }
    #side {
        min-width: 100%;
        height: auto;
        order: 2;
        box-sizing: border-box;
        & #banner {
            height: 0px;
        }
    }
    #banner-2 {
        display: none;
        order: 3;
    }
}

/* Iphones (à partir du X)*/
/*@media only screen and (min-device-width: 375px) and (-webkit-device-pixel-ratio: 2) {*/
@media only screen and (min-device-width: 375px) and (max-device-width: 2688px) and (-webkit-device-pixel-ratio: 3) {
    body {
        padding: 0px;
        margin: 0px;
        font-family: Arial, Helvetica, sans-serif;
        & main {
            padding: unset;
            padding: 16px;
            display: flex; 
            flex-direction: row; 
            align-items: flex-start; 
            justify-content: center;
            flex-wrap: wrap;
            gap: 24px;
        }
    }
    #main {
        width: 100%;
        height: auto;
        /*height: fit-content;*/
        padding-bottom: 24px;
        order: 1;
        box-sizing: border-box;
        & #titre-field {
            width: 90%;
            box-sizing: border-box;
        }
        & >div {
            width: 100%;
            & >div {
                width: 100%;
            }
        }
    }
    #side {
        width: 100%;
        height: fit-content;
        order: 2;
        box-sizing: border-box;
        & #banner {
            height: 0px;
        }
    }
    #banner-2 {
        display: none;
        order: 3;
    }
    /*
    body {
        width: 100vw;
        padding: 0px;
        margin: 0px;
        font-family: Arial, Helvetica, sans-serif;
    }
    main {
        padding: 16px;
        width: auto;
        display: flex; 
        flex-direction: column; 
        align-items: flex-start; 
        justify-content: center;
        flex-wrap: wrap;
        gap: 24px;
        box-sizing: border-box;
    }
    #main {
        width: calc(100vw - 32px);
        min-height: fit-content;
        order: 1;
        & #titre-field {
            width: 90%;
            box-sizing: border-box;
        }
        & >div {
            width: 100%;
            & >div {
                width: 100%;
            }
        }
    }
    #side {
        width: calc(100vw - 32px);
        max-height: fit-content;
        order: 2;
        background-color: red;
        & #banner {
            height: 0px;
        }
    }
    #banner-2 {
        display: none;
        order: 3;
    }*/
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}