:root {
    --h3: 24px;
    --h4: 16px;
    --p: 16px;

    /* Light theme*/
    --light-main-bg-color: rgb(235, 235, 235);
    --light-secondary-bg-color: rgb(255, 255, 255);
    --light-field-bg-color: rgba(255, 255, 255, 0.125);
    /*--light-field-hover-color: rgba(255, 255, 255, 0.331);*/
    --light-field-hover-color: rgba(0, 0, 0, 0.04);
    --light-field-focus-color: rgba(0, 0, 0, 0.05);
    --light-text-primary-color: rgb(27, 27, 27);
    --light-text-secondary-color: rgb(188, 188, 188, 0.9);
    --light-border-primary-color: rgb(188, 188, 188);

    --dark-main-bg-color: rgb(30, 30, 30);
    --dark-secondary-bg-color: rgba(11, 11, 11, 0.79);
    --dark-field-bg-color: rgba(255, 255, 255, 0.125);
    /*--dark-field-hover-color: rgba(255, 255, 255, 0.331);*/
    --dark-field-hover-color: rgba(255, 255, 255, 0.15);
    --dark-field-focus-color: rgba(255, 255, 255, 0.331);
    --dark-text-primary-color: rgb(255, 255, 255);
    --dark-text-secondary-color-light: rgba(0, 0, 0, 0.5);
    --dark-text-primary-color-light: rgb(0, 0, 0);
    --dark-text-secondary-color: rgba(255, 255, 255, 0.70);
    --dark-border-primary-color: rgba(255, 255, 255, 0.25);
    --dark-border-primary-color-light: rgba(0, 0, 0, 0.25);
    --dark-button-overlay-color: rgba(0, 0, 0, 0.04);
}

body {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-color: rgb(30, 30, 30);
    --dot-bg: rgb(8, 8, 8);
    --dot-color: white;
    --dot-size: 1px;
    --dot-space: 22px;
    background: var(--dark-main-bg-color);
    transition: background-color 0.4s ease-in;
	/*background:
		linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		var(--dot-color);*/
    }
    & nav {
        display: none;
        width: 100%;
        height: 48px;
        background-color: var(--dark-main-bg-color);
    }
    & main {
        padding: 40px 96px;
        display: flex; 
        flex-direction: row; 
        align-items: flex-start; 
        justify-content: center;
        flex-wrap: wrap;
        gap: 40px;
        & >div {
            transition: background 0.4s ease-in;
        }
    }
    & #banner-2 {
        height: 92vh;
        box-sizing: border-box;
        flex-grow: 1;
        background-color: var(--dark-secondary-bg-color);
        & #banner-content {
            width: 200px;
            height: 100vh;
        }
    }
    & #side {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 8px;
        min-width: 265px;
        max-width: 30%;
        height: 92vh;
        box-sizing: border-box;
        padding: 24px 24px 24px 24px;
        background-color: var(--dark-secondary-bg-color);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        color: var(--dark-text-primary-color);
        & button:disabled {
            cursor: not-allowed;
            & >img {
                filter: opacity(40%);
            }
        }
        & >div {
            & >h3 {
                margin-top: 8px;
                margin-bottom: 0px;
            }
            & h5 {
                font-weight: 200;
                margin-bottom: 8px;
                color: var(--light-text-secondary-color);
            }
            & >div {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: flex-start;
                gap: 4px;
            }
            & #toggle-couleur-1 {
                & >img {
                    width: 14px;
                }
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 8px 10px 8px 10px;
                /*background: linear-gradient(45deg, rgba(0,0,0,1) 49%, rgba(255,255,255,1) 49%);*/
            }
            & #toggle-couleur-2 {
                & >img {
                    width: 14px;
                }
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 8px 10px 8px 10px;
                /*background: linear-gradient(45deg, rgba(0,0,0,1) 49%, rgba(255,255,255,1) 49%);*/
            }
        }
        & #action-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            & >div {
                display: flex;
                flex-wrap: wrap;
                align-items: flex-start;
                justify-content: flex-start;
                row-gap: 8px;
                column-gap: 8px;
                & >button {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: 8px;
                    & >img {
                        width: 14px;
                    }
                }
            }
            & >button {
                all: unset;
                padding: 8px 12px 8px 12px;
                border: 1px solid var(--dark-border-primary-color-light);
                border-radius: 4px;
                background-image:
                    linear-gradient(to right, var(--dark-text-primary-color), var(--dark-text-primary-color));
                /*background-color: var(--dark-text-primary-color);*/
                color: var(--dark-text-primary-color-light);
                font-weight: 500;
                & >span {
                    color: var(--dark-text-secondary-color-light);
                }
            }
            & >button:hover {
                background-image:
                    linear-gradient(to right, var(--dark-button-overlay-color), var(--dark-button-overlay-color)),
                    linear-gradient(to right, var(--dark-text-primary-color), var(--dark-text-primary-color));
            }
        }
        & #banner {
            height: 92vh;
            width: 100%;
        }
        & button:disabled {
            cursor: not-allowed
        }
        & div:nth-child(1) {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 16px;
            & >h4 {
                margin: 0px;
            }
            & >p {
                margin: 0px;
                color: var(--dark-text-secondary-color);
            }
        }
        & div:nth-child(2) {
            & >button {
                padding: 8px 12px 8px 12px;
            }
        }
    }
    & #main {
        height: 92vh;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 24px;
        padding: 24px 8px 24px 24px;
        /*border-radius: 12px;*/
        background-color: var(--dark-secondary-bg-color);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        & h4 {
            margin: 0px;
            font-size: var(--h3);
            color: var(--dark-text-primary-color);
            padding: 8px 12px;
            border-radius: 4px;
            transition: background-color 0.2s ease-in;
            border: 1px solid rgba(255, 255, 255, 0);
        }
        & h4:hover {
            background-color: var(--dark-field-hover-color);
        }
        & h4:focus {
            color: var(--dark-text-secondary-color);
            background-color: var(--dark-field-focus-color);
            outline: none;
            border: 1px solid var(--dark-text-primary-color);
        }
        & >div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 8px;
            & >div {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                gap: 8px;
            & .text-field {
                all: unset;
                width: 450px;
                height: 32px;
                border-radius: 2px 2px 0px 0px;
                padding-left: 12px;
                transition: background-color 0.2s ease-in;
                color: var(--dark-text-primary-color);
                border-bottom: 1px solid var(--dark-border-primary-color);
            }
            & >input:hover {
                background-color: var(--dark-field-hover-color);
            }
            & >input:focus {
                background-color: var(--dark-field-hover-color);
            }
            & span {
                display: block;
                opacity: 0;
                width: 40px;
                color: var(--dark-text-primary-color);
                transition: 0.2s ease-in;
            }
            }
        }
    & input:focus + span {
        opacity: 1;
    }
    & input:hover + span {
        opacity: 1;
    }
}

.light {
    color: red;
    background: var(--light-main-bg-color) !important;
    & nav {

    }
    & #banner-2 {
        height: 100%;
        flex-basis: auto;
        background-color: var(--light-secondary-bg-color);
        & #banner-content {
            width: 200px;
            height: 100vh;
        }
    }
    & #side {
        background-color: var(--light-secondary-bg-color);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        color: var(--light-text-primary-color);
        & button:disabled {
            cursor: not-allowed;
            & >img {
                filter: opacity(30%);
            }
        }
        & div:nth-child(1) {
            & >h4 {
                color: var(--light-text-primary-color);
            }
            & >p {
                color: var(--light-text-secondary-color);
            }
        }
        & div:nth-child(2) {
            & button {
                padding: 8px 12px 8px 12px;
            }
        }
    }
    & #main {
        background-color: var(--light-secondary-bg-color);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        & h4 {
            color: var(--light-text-primary-color);
            border: 1px solid rgba(255, 255, 255, 0);
        }
        & h4:hover {
            background-color: var(--light-field-hover-color);
        }
        & h4:focus {
            color: var(--light-text-secondary-color);
            background-color: var(--light-field-focus-color);
            outline: none;
            border: 1px solid var(--light-text-primary-color);
        }
        & >div {
            & >div {
            & .text-field {
                all: unset;
                width: 450px;
                height: 32px;
                border-radius: 2px 2px 0px 0px;
                padding-left: 12px;
                transition: 0.2s ease-in;
                color: var(--light-text-primary-color);
                border-bottom: 1px solid var(--light-border-primary-color);
            } 
            & >input:hover {
                background-color: var(--light-field-hover-color);
            }
            & >input:focus {
                background-color: var(--light-field-hover-color);
            }
            & span {
                color: var(--light-text-primary-color);
            }
        }
    }
    & input:focus + span {
        opacity: 1;
    }
    & input:hover + span {
        opacity: 1;
    }
    & #action-container {
        & >button {
            border: 1px solid var(--dark-border-primary-color-light);
            color: var(--dark-text-primary-color-light);
            & >span {
                color: var(--dark-text-secondary-color-light);
            }
        }
    }
}
}

#toggle-serif {
    font-family: serif;
}

.normal-border {
    border-bottom: 1px solid var(--dark-border-primary-color);
}

.red-border {
    border-bottom: 1px solid red !important;
}

.no-border {
    border-bottom: 1px solid transparent;
}

.sans-serif {
    font-family: sans-serif;
}

.serif {
    font-family: serif;
}

@media only screen and (max-device-width: 375px) {
    body {
        width: 100vw;
        padding: 0px;
        margin: 0px;
        font-family: Arial, Helvetica, sans-serif;
        /*box-sizing: border-box;*/
    }
    main {
        padding: 16px;
        width: auto;
        display: flex; 
        flex-direction: row; 
        align-items: flex-start; 
        justify-content: center;
        flex-wrap: wrap;
        gap: 24px;
    }
    #main {
        width: 100%;
        height: auto;
        order: 1;
        box-sizing: border-box;
        & #titre-field {
            width: 90%;
            box-sizing: border-box;
        }
        & >div {
            width: 100%;
            & >div {
                width: 100%;
            }
        }
    }
    #side {
        max-width: 100%;
        height: auto;
        order: 2;
        & #banner {
            height: 0px;
        }
    }
    #banner-2 {
        order: 3;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-device-width: 375px) 
                   and (max-device-width: 812px) 
                   and (-webkit-min-device-pixel-ratio: 3)
                   and (orientation: portrait) {
    body {
        width: 100vw;
        padding: 0px;
        margin: 0px;
        font-family: Arial, Helvetica, sans-serif;
        /*box-sizing: border-box;*/
    }
    main {
        padding: 16px;
        width: auto;
        display: flex; 
        flex-direction: row; 
        align-items: flex-start; 
        justify-content: center;
        flex-wrap: wrap;
        gap: 24px;
    }
    #main {
        width: 100%;
        height: auto;
        order: 1;
        box-sizing: border-box;
        & #titre-field {
            width: 90%;
            box-sizing: border-box;
        }
        & >div {
            width: 100%;
            & >div {
                width: 100%;
            }
        }
    }
    #side {
        max-width: 100%;
        height: auto;
        order: 2;
        & #banner {
            height: 0px;
        }
    }
    #banner-2 {
        order: 3;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}